<!DOCTYPE html>
<html lang="en-us">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/main.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Heights</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
<style media="screen">
    html {
        background: #fbfbfb;
    }

    .progress {
        background-color: #e6e6e6;
        height: 12px;
    }


    .progress .determinate {
        background-color: #448aff;
    }
</style>

<body>
<main>
    <loader-app class="container" id="loading">
        <div v-if="is_active">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

    </loader-app>

    <selection-app class="container" id="selection">
        <div class="collection" v-if="is_active">
            <a
                    v-for="installer in installers"
                    :class="{active: installer.is_installed}"
                    @click="installer.is_installed = !installer.is_installed"
                    class="collection-item"
            >
                {{ installer }}
            </a>

        </div>

    </selection-app>
</main>

<!--JavaScript at end of body for optimized loading-->
<script src="https://unpkg.com/vue@3"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>

</html>
