:root{
  --red: #ef5350;
  --green: #66bb6a;
  // --updateColor: #13B3F2;
  --updateColor: #66bb6a;
  --errorColor: #af1e1c;
  --darkColor: #313131;
}

*{
  font-family: "Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 100;
}

.center-item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

nav {
  color: #232323;
}

#action-list {
  border: none;
  width: 60%;
  margin: 1rem auto;
  overflow: visible;

  .action {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 4px 0;
    display: block;
    position: relative;


    * {
      position: absolute;
    }

    .icon {
      background: var(--red);
      height: 100%;
      width: 50px;
      font-size: 30px;
      cursor: pointer;

      & > * {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .action-remove {
      left: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      color: white;
    }

    .action-install, .action-update {
      right: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      background: var(--green);
      color: white;
    }
    .action-update{
      background: var(--updateColor);
    }

    .action-name {
      left: 0;
      background: white;
      height: 100%;
      border-radius: 9px;
      font-size: 30px;
      padding: 0 5px;
      width: 100%;
      color: white;

      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
      transition: left .1s, border-radius .1s, width .1s, background-color .1s;
    }

    &.remove {
      .action-name {
        left: 0;
        width: calc(100% - 50px);
        border-radius: 9px 0 0 9px;
        background: var(--red);
      }
    }
    &.update {
      .action-name {
        left: 50px;
        width: calc(100% - 50px);
        border-radius: 0 9px 9px 0;
        background: var(--updateColor);
      }
    }
    &.install {
      .action-name {
        background: var(--green);
        left: 50px;
        width: calc(100% - 50px);
        border-radius: 0 9px 9px 0;
      }
    }
  }
}